<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="user-scores">
            <h1>Welcome {{ username }}. This is monitoring system:</h1>
            <div class="score">
                <h3>Your PHY score is: {{ result['phy'] }}</h3>
            </div>
            <div class="score">
                <h3>Your CHE score is: {{ result['che'] }}</h3>
            </div>
            <div class="score">
                <h3>Your MATHS score is: {{ result['maths'] }}</h3>
            </div>
        </div>

        <div class="server-responses">
            <h2>These are server's responses:</h2>

            </div>
            <table class="simple-table">
                <colgroup>
                    <col class="col-5">
                    <col class="col-15">
                    <col class="col-80">
                </colgroup>
                <thead>
                    <tr>

                        <th>No.</th>
                        <th>Request Attributes</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Request Method</td>
                        <td>{{ http['method'] }}</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Remote url</td>
                        <td>{{ http['url'] }}</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Request cookies</td>
                        <td>{{ http['cookies'] }}</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>User Agent</td>
                        <td>{{ http['user_agent'] }}</td>
                    </tr>
                    <tr>
                        <td>5.</td>
                        <td>Authorization</td>
                        <td>{{ http['authorization'] }}</td>
                    </tr>
                    <tr>
                        <td>6.</td>
                        <td>Accepted Language</td>
                        <td>{{ http['accepted_language'] }}</td>
                    </tr>

                </tbody>
            </table>
            <br></br>
            <table class="simple-table">
                <h2>Server monitoring parameters:</h2>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Data group</th>
                        <th>Metric</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>CPU Info</td>
                        <td>CPU Usage</td>
                        <td>{{ server['cpu_usage'] }}</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>CPU Info</td>
                        <td>CPU Count</td>
                        <td>{{ server['cpu_count'] }}</td>
                    </tr>
                
                    <tr>
                        <td>3.</td>
                        <td>CPU Info</td>
                        <td>CPU Times</td>
                        <td>{{ server['boot_time'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</body>
</html>
