<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Link test Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <h1>Input Data</h1>
    <form action="{{ url_for('result_page') }}" method="POST">
        <label for="data">Enter some data:</label>
        <input type="text" id="data" name="data" required>
        <br><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>
